[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    .env,
    build,
    dist,
    *.egg-info,
    migrations,
    .pytest_cache,
    .vscode,
    .idea
max-line-length = 88
ignore =
    E203,
    W503,
    E501